In [6]:
# Importing necessary libraries
import pandas as pd

# Load the first file (Premier League player stats)
player_stats_path = 'Soccer-Stats-Premier-League-2023-2024_20231128.xlsx'

# Load the 'PlayerStatsExport' sheet from the Excel file
player_stats_df = pd.read_excel(player_stats_path, sheet_name='PlayerStatsExport')

# Load the second file (Team stats)
team_stats_path = 'E0_cleaned.csv'
team_stats_df = pd.read_csv(team_stats_path)

# Renaming the 'Team' column in player stats to match the team name columns in the team stats dataframe
player_stats_df.rename(columns={'Team': 'HomeTeam'}, inplace=True)

# Renaming the 'Team' column in player stats to match the team name columns in the team stats dataframe
player_stats_df.rename(columns={'Team': 'HomeTeam'}, inplace=True)

# Performing the join
combined_df = pd.merge(team_stats_df, player_stats_df, on='HomeTeam', how='left')

# Filtering the player stats dataframe for Manchester City players
man_city_player_stats = player_stats_df[player_stats_df['HomeTeam'] == 'Manchester City']

# Displaying the statistics for Manchester City players
man_city_player_stats.head(10)

,Id,Name,Weight(kg),Height(cm),Age,Citizenship,HomeTeam,Jersey,Position,Total Play Time(min),...,yellowCards,redCards,goalAssists,shotsOnTarget,totalShots,totalGoals,goalsConceded,shotsFaced,saves,Update Time
0,28,Erling Haaland,87.168,193.04,23.0,Norway,Manchester City,9.0,Forward,1196,...,0,0,3,24,45,14,11,0,0,2023-11-28 07:26:46
18,29,Julián Álvarez,71.278,170.18,23.0,Argentina,Manchester City,19.0,Forward,1134,...,2,0,4,10,37,4,9,0,0,2023-11-28 07:26:46
28,17,Bernardo Silva,63.106,172.72,29.0,Portugal,Manchester City,20.0,Midfielder,889,...,3,0,3,4,6,3,10,0,0,2023-11-28 07:26:46
30,20,Phil Foden,69.008,170.18,23.0,England,Manchester City,47.0,Midfielder,1092,...,1,0,3,12,26,3,11,0,0,2023-11-28 07:26:46
38,19,Rodri,82.174,190.50,27.0,Spain,Manchester City,16.0,Midfielder,979,...,4,1,2,10,19,3,9,0,0,2023-11-28 07:26:46
52,744,Jérémy Doku,66.284,172.72,21.0,Belgium,Manchester City,11.0,Forward,681,...,2,0,5,6,16,2,9,0,0,2023-11-28 07:26:46
56,7,Nathan Aké,74.002,180.34,28.0,Netherlands,Manchester City,6.0,Defender,693,...,0,0,1,2,7,2,6,0,0,2023-11-28 07:26:46
73,10,Manuel Akanji,91.254,185.42,28.0,Switzerland,Manchester City,25.0,Defender,977,...,2,1,0,3,6,2,10,0,0,2023-11-28 07:26:46
194,5,Kyle Walker,78.996,177.80,33.0,England,Manchester City,2.0,Defender,1267,...,1,0,1,1,5,0,12,0,0,2023-11-28 07:26:46
202,16,Jack Grealish,76.272,175.26,28.0,England,Manchester City,10.0,Midfielder,376,...,4,0,1,1,10,0,3,0,0,2023-11-28 07:26:46

In [7]:
combined_df.shape

(2635, 132)

In [8]:
# get the column names
combined_df.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'yellowCards', 'redCards', 'goalAssists', 'shotsOnTarget', 'totalShots',
       'totalGoals', 'goalsConceded', 'shotsFaced', 'saves', 'Update Time'],
      dtype='object', length=132)

In [9]:
# check for null values
combined_df.isnull().sum()

Div               0
Date              0
Time              0
HomeTeam          0
AwayTeam          0
                 ..
totalGoals       88
goalsConceded    88
shotsFaced       88
saves            88
Update Time      88
Length: 132, dtype: int64

In [11]:
# analyze the data
combined_df.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,yellowCards,redCards,goalAssists,shotsOnTarget,totalShots,totalGoals,goalsConceded,shotsFaced,saves,Update Time
count,2635.000000,2635.000000,2635.000000,2635.000000,2635.000000,2635.000000,2635.000000,2635.000000,2635.00000,2635.000000,...,2547.000000,2547.000000,2547.000000,2547.000000,2547.000000,2547.000000,2547.000000,2547.000000,2547.000000,2547
mean,1.699051,1.388994,0.709677,0.522581,14.779127,11.408349,5.029981,4.089564,10.97723,11.220114,...,1.049470,0.053004,0.416961,1.833922,5.826855,0.621908,7.455830,4.911661,1.385159,2023-11-28 07:26:50.109540352
min,0.000000,0.000000,0.000000,0.000000,3.000000,2.000000,1.000000,0.000000,4.00000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023-11-28 07:26:46
25%,0.000000,0.000000,0.000000,0.000000,10.000000,8.000000,3.000000,2.000000,9.00000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023-11-28 07:26:49
50%,1.000000,1.000000,1.000000,0.000000,14.000000,11.000000,5.000000,4.000000,11.00000,12.000000,...,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,5.000000,0.000000,0.000000,2023-11-28 07:26:50
75%,3.000000,2.000000,1.000000,1.000000,19.000000,15.000000,7.000000,5.000000,13.00000,13.000000,...,2.000000,0.000000,1.000000,2.000000,8.000000,1.000000,13.000000,0.000000,0.000000,2023-11-28 07:26:52
max,6.000000,8.000000,3.000000,3.000000,34.000000,30.000000,13.000000,15.000000,19.00000,21.000000,...,7.000000,1.000000,6.000000,17.000000,39.000000,10.000000,33.000000,212.000000,66.000000,2023-11-28 07:26:53
std,1.466708,1.306528,0.812979,0.752976,5.752800,5.055223,2.675476,2.654409,3.35739,3.370015,...,1.362696,0.224085,0.879456,2.952009,7.855896,1.324863,7.559551,25.588449,7.489274,NaN

Data Analysis

In [14]:

# Team Performance Metrics: Average goals scored and conceded per game
team_performance = combined_df.groupby('HomeTeam').agg(
    avg_goals_scored=pd.NamedAgg(column='FTHG', aggfunc='mean'),
    avg_goals_conceded=pd.NamedAgg(column='FTAG', aggfunc='mean')
).reset_index()

# 2. Player Impact: Top goal scorers and their influence on match outcomes
# First, find the top goal scorers
top_scorers = player_stats_df[player_stats_df['totalGoals'] > 0].sort_values(by='totalGoals', ascending=False)
# Then, analyze the correlation of their presence with match outcomes (for simplicity, consider presence as having played in the match)

# Displaying the results of these analyses
team_performance.head(), top_scorers[['Name', 'HomeTeam', 'totalGoals']].head()

(      HomeTeam  avg_goals_scored  avg_goals_conceded
 0      Arsenal          2.444444            0.888889
 1  Aston Villa          2.888889            0.666667
 2  Bournemouth          1.000000            1.500000
 3    Brentford          1.777778            1.555556
 4     Brighton          2.000000            1.333333,
              Name           HomeTeam  totalGoals
 0  Erling Haaland    Manchester City          14
 1   Mohamed Salah          Liverpool          10
 2    Jarrod Bowen    West Ham United           8
 3   Son Heung-Min  Tottenham Hotspur           8
 4   Ollie Watkins        Aston Villa           7)